// =============================================================================
// Drupal tabs.
// =============================================================================

.tabs {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin: unset;
  padding: unset;
  list-style: none;
  position: relative;
}

.tabs__link {
  line-height: 1.2rem;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-grow: 1;
  min-height: 3rem;
  padding: var(--spacing-sm) var(--spacing-lg);
  text-decoration: none;
  color: var(--color-dark-silver);
  border-radius: var(--radius-xxs) var(--radius-xxs) 0 0;
  font-weight: bold;
}

.tabs__link:hover {
  background-color: var(--color-persian-blue--light-2);
}

.tabs__link--active {
  color: var(--color-persian-blue);
  position: relative;
  z-index: 1;
}

.tabs__link--active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  content: '';
  border-bottom: 3px solid var(--color-persian-blue);
}

ul.tabs--secondary {
  margin-bottom: var(--spacing-md);
}

.tabs--secondary::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  border-bottom: 1px solid var(--color-light-gray);
}
