{% set block = block ?? 'pager' %}
{% if items.previous or items.next %}
  {% set heading_id = 'pagination-heading'|clean_id %}
  <nav class="{{ bem(block, null, ['mini']) }}" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="{{ bem(block, 'heading') }} visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="{{ bem(block, 'items') }}">
      {% if items.previous %}
        <li class="{{ bem(block, 'item', ['action', 'previous']) }}">
          <a href="{{ items.previous.href }}" class="{{ bem(block, 'link', ['action-link']) }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="{{ bem(block, 'item', ['ellipsis']) }}">
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li class="{{ bem(block, 'item', ['action', 'next']) }}">
          <a href="{{ items.next.href }}" class="{{ bem(block, 'link', ['action-link']) }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
